<form
    [formGroup]="loginForm"
    class="login-form"
    (ngSubmit)="handleSubmit()"
>
    <div formGroupName="loginData">

        <div class="form-group mb-2">
            <label for="email">Email address</label>
            <input
                type="email"
                class="form-control"
                id="email"
                [formControl]="emailCtrl"
                placeholder="Enter email"
            >

            <div
                class=" alert-danger w-50"
                *ngIf="emailCtrl.touched && emailCtrl.invalid"
            >
                Adres email wymagany do zalogowania
            </div>

            <div
                class=" alert-danger w-50"
                *ngIf="emailCtrl.touched && emailCtrl.hasError('pattern') || emailCtrl.touched && emailCtrl.hasError('email')"
            >
                Nieprawidłwy format
            </div>

        </div>

        <div class=" form-group mb-2">
            <label for="password">Password</label>
            <input
                type="password"
                class="form-control"
                id="password"
                placeholder="Password"
                [formControl]="passwordCtrl"
            >

            <div
                class=" alert-danger w-50"
                *ngIf="passwordCtrl.touched && passwordCtrl.hasError('required')"
            >
                Wprowadź hasło!
            </div>

            <div
                class=" alert-danger w-50"
                *ngIf="passwordCtrl.touched && passwordCtrl.hasError('minlength')"
            >
                Hasło jest zbyt krótkie!
            </div>
        </div>
    </div>

    <div
        *ngIf="emailCtrl.valid"
        class="form-check mb-4"
    >
        <input
            type="checkbox"
            class="form-check-input"
            id="remember-me"
            [formControl]="rememberMeCtrl"
            (click)="handleCheckBoxState()"
        >
        <label
            class="form-check-label"
            for="remember-me"
        >
            Remember me!
        </label>
    </div>
    <button
        type="submit"
        class="btn btn-primary"
        [disabled]="loginForm.invalid"
    >
        Submit
    </button>

    <div
        class="alert-danger alert w-50"
        *ngIf="loginService.invalidCredentials"
    >
        Invalid credentials- try agian!
    </div>

</form>
form State: {{loginForm.status}}
<br>
