::ng-deep .mat-toolbar{
  /* z-index: 998; */
  position: fixed;
  top: 15%;
  left: 50%;
  min-width: 100%;
};


::ng-deep.cart-value {
  margin-top: 25px;
};

::ng-deep.mat-button{
  margin-bottom: 50px;
}
